language: android
dist: trusty
android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.0
    - android-29
    - extra-android-support
    - extra-android-m2repository
    - extra-google-m2repository

  licenses:
    - '.+'
